header {
    display: flex;
    justify-content: space-between;
}

li {
    color: white;
    background-color: purple;
}

main {
    width: 60%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.result {
    display: none;
}

button {
    padding: 20px;
    border: solid black 1px;
}

.column {
    display: flex;
    flex-direction: column;
}